# 9p
CONFIG_9P_FS=y
CONFIG_NET_9P=y
CONFIG_NET_9P_VIRTIO=y

# DRM
CONFIG_DRM_VIRTIO_GPU=y

# HW random
CONFIG_HW_RANDOM_VIRTIO=y

# Sound
CONFIG_SND_ENS1370=y
CONFIG_SND_HDA_GENERIC=y
CONFIG_SND_HDA_INTEL=y
CONFIG_SND_INTEL8X0=y
CONFIG_SND_VIRTIO=y

# VirtIO
CONFIG_VIRTIO_BALLOON=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_VIRTIO_INPUT=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_VSOCKETS=y
