service dhcpclient /system/bin/dhcpclient -i ${vendor.recovery.ethernet.dhcp.iface:-eth0}
    user root
    group root
    seclabel u:r:dhcpclient:s0
    oneshot
    disabled

on early-boot
    ifup ${vendor.recovery.ethernet.dhcp.iface:-eth0}
    start dhcpclient

on property:ro.boot.install=1
    exec u:r:recovery:s0 -- /system/bin/sh -e /system/bin/create_partition_table.sh /system/bin/sgdisk /dev/block/vda vda
