service dhcpclient /system/bin/dhcpclient -i ${vendor.recovery.ethernet.dhcp.iface:-eth0}
    user root
    group root
    seclabel u:r:dhcpclient:s0
    oneshot
    disabled

on early-init
    mkdir /mnt/vendor/shared 0770 root root

on fs
    mkdir /mnt/vendor/EFI 0770 root root
    mount vfat /dev/block/by-name/EFI /mnt/vendor/EFI rw shortname=lower uid=0 gid=0 dmask=007 fmask=117 context=u:object_r:efi_file:s0
    exec u:r:vendor_efi_update_default_sh:s0 -- /system/bin/sh -e /system/bin/refind-update-default_selection.sh
    umount /mnt/vendor/EFI

on early-boot
    ifup ${vendor.recovery.ethernet.dhcp.iface:-eth0}
    start dhcpclient

on property:ro.boot.install=1
    exec u:r:create_partition_table:s0 -- /system/bin/sh -e /system/bin/create_partition_table.sh /system/bin/sgdisk /dev/block/vda vda
