import /vendor/etc/init/hw/init.low_performance.rc

service suspend_blocker /vendor/bin/suspend_blocker
    class early_hal # Start together with system_suspend HAL
    group system
    user root

on early-init
    setprop ro.sf.lcd_density ${ro.boot.lcd_density:-160}

on fs
    mkdir /mnt/vendor/shared 0770 system system

    # Mount everything that does not require fsck
    mount_all --early

on late-fs
    # Mount RW partitions which need run fsck
    mount_all --late

# Graphics
on early-init
    setprop ro.vendor.graphics ${ro.boot.graphics:-mesa}

on property:ro.vendor.graphics=mesa && property:ro.vendor.graphics.mesa.is_upstream=true
    setprop ro.hardware.egl mesa
    setprop ro.hardware.gralloc minigbm
    setprop ro.hardware.vulkan virtio
    setprop ro.opengles.version 196610

on property:ro.vendor.graphics=mesa && property:ro.vendor.graphics.mesa.is_upstream=false
    setprop ro.cpuvulkan.version 0
    setprop ro.hardware.egl mesa
    setprop ro.opengles.version 196608

on property:ro.vendor.graphics=swiftshader
    setprop ro.cpuvulkan.version 4202496
    setprop ro.hardware.egl angle
    setprop ro.hardware.vulkan pastel
    setprop ro.opengles.version 196609
    setprop ro.vulkan.apex com.google.cf.vulkan
