import /init.recovery.virt.rc

on early-init
    mkdir /mnt/vendor/shared 0770 root root

on property:ro.boot.install=1
    exec u:r:create_partition_table:s0 -- /system/bin/sh -e /system/bin/create_partition_table.sh /system/bin/sgdisk /dev/block/vda vda
