import /vendor/etc/init/hw/init.virt.rc

on fs
    mkdir /mnt/vendor/EFI 0770 root root
    mkdir /mnt/vendor/persist 0770 system system
    mkdir /mnt/vendor/shared 0770 system system

    # Mount everything that does not require fsck
    mount_all --early

on late-fs
    # Mount RW partitions which need run fsck
    mount_all --late

# Graphics (Mesa)
on property:ro.vendor.graphics=mesa && property:ro.vendor.graphics.mesa.is_upstream=true
    setprop ro.hardware.egl mesa
    setprop ro.hardware.gralloc minigbm
    setprop ro.hardware.vulkan virtio
    setprop ro.opengles.version 196610

on property:ro.vendor.graphics=mesa && property:ro.vendor.graphics.mesa.is_upstream=false
    setprop ro.cpuvulkan.version 0
    setprop ro.hardware.egl mesa
    setprop ro.opengles.version 196608
